---
import type { CollectionEntry } from "astro:content";
import { BLOG_PATH } from "@/content.config";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant = "h2", id, data, filePath } = Astro.props as Props;
const { title, description, ...datetimeProps } = data;
const path = getPath(id, filePath ?? `${BLOG_PATH}/${id}`);
const href = path.endsWith("/") ? path : `${path}/`;
const vtName = slugifyStr(title.replaceAll(".", "-"));
---

<li class="my-6">
  <a
    href={href}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    {
      variant === "h2" ? (
        <h2 style={{ viewTransitionName: vtName }}>{title}</h2>
      ) : (
        <h3 style={{ viewTransitionName: vtName }}>{title}</h3>
      )
    }
  </a>
  <Datetime {...datetimeProps} />
  <p>{description}</p>
</li>
